@model IEnumerable<DotNetAppSqlDb.Models.Passeio>
@{
    ViewBag.Title = "Passeios";
    Layout = "~/Views/Shared/EmpresaView.cshtml";
    DotNetAppSqlDb.Models.Empresa vEmpresa = (DotNetAppSqlDb.Models.Empresa)HttpContext.Current.Session["EmpresaLogada"];
}
<div class="container p-3">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Meus passeios pendentes</h1>
        <p class="lead">Aqui você tem acesso aos seus passeios agendados que precisam de confirmação.</p>
    </div>

    <form name="meu_form" div align="center">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Data)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.QuantAlunos)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Escola)</th>
                    <th></th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tr>

                    @Html.HiddenFor(modelItem => item.IdPasseio)
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Data)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuantAlunos)</td>
                    <td>@Html.DisplayFor(modelItem => item.Escola.Nome)</td>
                    <td><button type="button" class="btn btn-secondary btn-sm" disabled>Passeio Realizado</button></td>
                   
                </tr>

            }
        </table>

        <div class="btn-group">
            <div class="container">
                @Html.ActionLink("Voltar", "MainPage", vEmpresa, new { @class = "btn btn-warning btn-xs" })
            </div>
        </div>

    </form>
    <script>
       async function confirmarPasseio(id) {
            var confirmar = confirm("Voce deseja mesmo confirmar esse passeio?");
            if (confirmar) {
                await fetch("@Url.Action("","Escolas")", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id })

                });
            }

        }
    </script>

</div>


